// SANS
@font-face {
  font-family: "Dover Sans Text";
  src: url("../../fonts/Dover-Sans-Text.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Dover Sans Text Italic";
  src: url("../../fonts/Dover-Sans-Text-Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Dover Sans Display";
  src: url("../../fonts/Dover-Sans-Display.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Dover Sans Display Italic";
  src: url("../../fonts/Dover-Sans-Display-Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Dover Sans Text Bold";
  src: url("../../fonts/Dover-Sans-Text-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

// SERIF
@font-face {
  font-family: "Dover Serif Text";
  src: url("../../fonts/Dover-Serif-Text.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Dover Serif Text Italic";
  src: url("../../fonts/Dover-Serif-Text-Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Dover Serif Dislpay";
  src: url("../../fonts/Dover-Serif-Display.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Dover Serif Dislpay Italic";
  src: url("../../fonts/Dover-Serif-Display-Italic.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Dover Serif Text Bold";
  src: url("../../fonts/Dover-Serif-Text-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
