@font-face {
  font-family: "Executive Bold";
  src: url("../../fonts/Executive-Bold.woff") format("woff"),
    url("../../fonts/Executive-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Executive Light";
  src: url("../../fonts/Executive-Light.woff") format("woff"),
    url("../../fonts/Executive-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Executive Medium";
  src: url("../../fonts/Executive-Medium.woff") format("woff"),
    url("../../fonts/Executive-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Executive Regular";
  src: url("../../fonts/Executive-Regular.woff") format("woff"),
    url("../../fonts/Executive-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
