@font-face {
  font-family: "Financier Regular";
  src: url("../../fonts/Financier-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Financier Regular";
  src: url("../../fonts/Financier-Regular-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Financier Display Light";
  src: url("../../fonts/Financier-Display-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Financier Display Regular";
  src: url("../../fonts/Financier-Display-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
