@font-face {
  font-family: "Offbit";
  src: url("../../fonts/OffBitTrial-Regular.woff2") format("woff2"),
    url("../../fonts/OffBitTrial-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
