@font-face {
  font-family: "Plein Variable";
  src: url("../../fonts/Plein-Variable.woff2") format("woff2"),
    url("../../fonts/Plein-Variable.woff") format("woff");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
