@import "../util/include-media";
@import "../util/breakpoints";
@import "../util/typography";

.containerIntro {
  width: 100%;
  margin-top: calc(var(--space-xl-2xl) * 2);
}

.wrapperFuckingName {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  h2 {
    @include fluid-heading-level-02;
  }
}


.fuckingName {
  @include slang-fluid-name;
}

.bio {
 @include sohne-fluid-home; 

 a {
   color: #fff;
   text-decoration: underline;
   font-style: italic;
   text-transform: lowercase;
 }
}