.preText {
  font-family: "Gintronic";
  margin: var(--space-s) 0 var(--space-s) 0;
  max-width: 20rem;
  overflow-x: auto;
}

.codeText {
  p {
    font-family: "Gintronic";
    font-size: var(--step--2);
  }
}
