@import "../util/include-media";
@import "../util/breakpoints";
@import "../util/typography";

.containerWork {
  margin-top: var(--space-xl-2xl);
}

.wrapperCompany {
  display: flex;

  > :nth-child(1) {
    margin-right: var(--space-xs);
  }
}

.project {
  border-bottom: 1px solid #ffffff5e;
  margin-bottom: var(--space-xs);
  padding-bottom: var(--space-xs);
  padding-top: var(--space-s);
  color: var(--durag-meadow);
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
