@import "../util/include-media";
@import "../util/breakpoints";

.containerWork {
  margin-top: var(--space-xl-2xl);

  h2 {    
    font-size: var(--step-2);
    font-family: "Grand Slang";
    color: #fff;
    font-weight: lighter; 
    line-height: 58px;
    font-style: normal;
    text-transform: capitalize;   
    margin-bottom: var(--space-s);
  }
}

.wrapperCompany {
  display: flex;
  margin-bottom: var(--space-s);
  P {
    font-family: "Sohne Buch";
    font-weight: bold;
    text-transform: uppercase;
    color: var(--durag-meadow);
    font-size: var(--step--1);
  }

  > :nth-child(1) {
    margin-right: var(--space-xs);
  }
}

.project {
  border-bottom: 1px solid #ffffff1c;
  margin-bottom: var(--space-xs);
  padding-bottom: var(--space-xs);
  padding-top: var(--space-s);
  color: var(--durag-meadow);
  display: flex;
  align-items: baseline;
  
  p {
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-left: var(--space-s);
  }
}