@import "./util/include-media";
@import "./util/breakpoints";

.containerNav {
  display: flex;
  justify-content: space-between;
}

.navItems {
  display: flex;
  li {
    color: var(--durag-blue);
    font-size: var(--step--1);
    font-family: "Rosat Display Light";
    a {
      color: inherit;
    }
    span {
      margin: 0 var(--space-m) 0 var(--space-m);
    }
  }
}

.icon {
  @include media("<=375px") {
    display: none;
  }
}
