@import "./util/include-media";
@import "./util/breakpoints";

.containerMain {
  display: flex;
  flex-direction: column;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  padding-bottom: var(--space-s);
  width: 100%;
  position: relative;
  //background-color: var(--durag-bg-offwhite);
  background-color: #fbece2;
  color: #000000;
  min-height: 100vh;

  @include media("<=tablet") {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
  }
}
