// Imports
@import "./util/interpolate";
@import "./util/custom-properties";
@import "./util/resets";

@import "./font/financier";
@import "./font/national";

html,
body {
  background-color: var(--html-color);
}

body {
  min-height: var(--100vh);
  scroll-behavior: smooth;
}
