@import "./util/include-media";
@import "./util/breakpoints";

.containerMain {
  display: flex;
  flex-direction: column;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  width: 100%;
  position: relative;

  @include media("<=tablet") {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
  }
}

.containerIntro {
  width: 100%;
  margin-top: calc(var(--space-xl-2xl) * 2);
}

.wrapperBio {
}

.wrapperFuckingName {
  display: flex;
  align-items: center;
  font-family: "Grand Slang";
  font-size: var(--step-5);
  font-weight: normal;

  :nth-child(2) {
    font-family: "Grand Slang";
    font-style: italic;
  }
}

// .fuckingName {
// }

.connoisseurRant {
  grid-column: 2 / -1;
  @include media("<tablet") {
    grid-column: 1;
    grid-row: 2 / -1;
    margin-top: var(--space-m);
  }
  p {
    font-family: "Neue Grotesk Book";
    color: var(--durag-meadow);
    font-size: var(--step-0);
  }

  a {
    color: var(--durag-tomato);
    &:hover {
      color: var(--durag-meadow);
    }
  }
}

.dcseanImg {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column: 1 / span 1;

  @include media("<tablet") {
    grid-column: 1;
    grid-row: 1 / span 1;
  }

  img {
    //opacity: 0;
    display: block;
    min-width: 100%;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }
}

.containerWork {
  margin-top: var(--space-xl-2xl);

  h2 {
    font-family: "Cosi Azure";
    font-size: var(--step-2);
    color: var(--durag-tomato);
    letter-spacing: var(--space-2xs-xs);
    margin-bottom: var(--space-s);
  }
}

.wrapperCompany {
  display: flex;
  margin-bottom: var(--space-s);
  P {
    text-transform: uppercase;
    color: var(--durag-meadow);
    font-family: "Neue Grotesk Book";
    font-size: var(--step--1);
  }

  > :nth-child(1) {
    margin-right: var(--space-xs);
  }
}

.projectListing {
  .project {
    border-bottom: 1px solid var(--durag-tomato-01);
    margin-bottom: var(--space-s);
    padding-bottom: var(--space-s);
    font-family: "Neue Grotesk Book";
    color: var(--durag-meadow);

    a {
      color: var(--durag-meadow);
      text-transform: uppercase;
      padding: 0 var(--space-m) 0 0;
    }

    @include media(">=tablet") {
      display: flex;
      align-items: baseline;
    }
  }
}
