@import "./util/include-media";
@import "./util/breakpoints";

.containerMain {
  display: flex;
  flex-direction: column;
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  width: 100%;
  position: relative;
}

.containerIntro {
  width: 100%;
  margin-top: calc(var(--space-xl-2xl) * 2);
}

.containerDuragText {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  width: inherit;

  h2 {
    font-family: "Cosi Azure";
    color: var(--durag-tomato);
    font-size: var(--step-5);
  }
}

.durag {
  grid-column: 5 / -1;
}
.connoisseur {
  grid-column: 7 / -1;
}

.containerBio {
  display: grid;
  grid-template-columns: calc(35rem / 2) 1fr;
  grid-template-rows: minmax(calc(44rem / 2), auto);
  column-gap: var(--space-xl-2xl);
  width: 100%;
  margin-top: var(--space-xl-2xl);
}

.connoisseurRant {
  grid-column: 2 / -1;
  p {
    font-family: "Neue Grotesk Regular";
    color: var(--durag-meadow);
    font-size: var(--step-1);
  }
}

.dcseanImg {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column: 1 / span 1;

  img {
    opacity: 0;
    display: block;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }
}
