@import "./util/include-media";
@import "./util/breakpoints";

.containerNav {
  margin-top: var(--space-2xs-xs);
  width: calc(100% - calc(2 * var(--space-xl)));
  align-self: center;
  position: fixed;

  @include media("<=tablet") {
    width: calc(100% - calc(2 * var(--space-xs)));
  }
}
.navItems {
  display: flex;
  justify-content: space-between;

  li {
    color: var(--durag-meadow);
    font-size: var(--step--2);
    font-family: "Neue Grotesk Book";
    a {
      color: inherit;
      text-transform: uppercase;
    }
    span {
      margin: 0 var(--space-m) 0 var(--space-m);
    }
  }
}
