@import "./util/include-media";
@import "./util/breakpoints";

.contentMusing {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: "Neue Grotesk Book";
  grid-template-areas: "title title" "social musing";
  margin-top: calc(var(--space-xl-2xl));

  @include media("<=tablet") {
    grid-template-columns: auto;
    grid-template-areas: "title" "musing" "social";

    > * + * {
      margin-top: var(--space-m);
    }
  }
}

.containerTitleMusing {
  grid-area: title;

  h1 {
    text-transform: capitalize;
    font-size: var(--step-0);
    margin-bottom: var(--space-3xs-2xs);
  }

  p {
    font-family: "Rosat Text Italic";
  }
}

.socialMusing {
  grid-area: social;
  margin-top: var(--space-s-m);

  li + li {
    margin-top: var(--space-3xs-2xs);
  }

  @include media("<=tablet") {
    padding-top: var(--space-s);
    padding-bottom: var(--space-s);
  }
}

.paragraphsMusing {
  grid-area: musing;

  p {
    font-family: inherit;
    font-size: var(--step--1);
    color: inherit;

    @include media(">tablet") {
      font-size: 1rem;
      line-height: var(--space-s);
    }

    @include media("<=tablet") {
      // font-size: 1rem;
      line-height: 1.5;
    }
  }

  p + p {
    margin-top: var(--space-2xs);
  }

  h1,
  h2,
  h3,
  h4,
  h4 {
    font-weight: bold;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }
}
