@import "./include-media";
@import "./breakpoints";

@mixin sohne-fluid-home {
  --tt-key: sohne-fluid-home;
  color: #fff;
  font-family: "Vulf Sans Regular";
  font-style: normal;
}

@mixin sohne-fluid-navigation {
  --tt-key: sohne-fluid-navigation;
  color: #fff;
  font-family: "Vulf Sans Regular";
  font-style: normal;
}

@mixin slang-fluid-name {
  --tt-key: header;
  font-weight: 100;
  font-family: "Vulf Sans Medium";
  text-transform: capitalize;
  font-style: normal;
  color: #fff;
}

@mixin fluid-heading-level-02 {
  --tt-key: fluid-heading-level-02;
  font-weight: 100;
  font-family: "Vulf Sans Bold";
  text-transform: capitalize;
  font-style: italic;
  color: #fff;
}

@mixin fluid-heading-level-04($style) {
  --tt-key: fluid-heading-level-04;
  font-weight: 100;
  font-family: "Vulf Sans Bold";
  text-transform: capitalize;
  font-style: $style;
  color: #fff;
}

@mixin fluid-heading-level-05($style) {
  --tt-key: fluid-heading-level-05;
  font-weight: 100;
  font-family: "Vulf Sans Bold";
  text-transform: capitalize;
  font-style: $style;
  color: #fff;
}

@mixin fluid-black-level-01($style) {
  --tt-key: fluid-black-level-01;
  font-weight: 100;
  font-family: "Vulf Sans Black";
  text-transform: capitalize;
  font-style: $style;
  color: #fff;
}
